---
layout: contentbase
---
<h1>{{ page.title }}</h1>
<em>Stephen Brennan &bull; {{ page.date | date_to_long_string }}</em>

{{ content }}

<div class="social">
  <ul>
    <li>Share on:</li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url|uri_escape}}{{page.url|uri_escape}}"><span class="fa fa-facebook-square fa-lg"></span></a></li>
    <li><a href="http://twitter.com/share?text={{page.title|uri_escape}}&url={{site.url|uri_escape}}{{page.url|uri_escape}}"><span class="fa fa-twitter-square fa-lg"></span></a></li>
    <li><a href="http://news.ycombinator.com/submitlink?u={{site.url|uri_escape}}{{page.url|uri_escape}}&t={{page.title|uri_escape}}"><span class="fa fa-hacker-news fa-lg"></span></a></li>
    <li><a href="https://www.reddit.com/submit?title={{page.title|uri_escape}}&url={{site.url|uri_escape}}{{page.url|uri_escape}}"><span clasS="fa fa-reddit-square fa-lg"></span></a></li>
  </ul>
</div>
<hr>
